# RENAME THIS FILE TO .mongo.env AND CHANGE THE CONFIGURATIONS BELLOW
# This file is the env file to setup mongodb container
# Change username and password bellow
# Don't forget to change the username and password in the .env file

MONGO_INITDB_ROOT_USERNAME=CHANGEME
MONGO_INITDB_ROOT_PASSWORD=CHANGEME
